In [1]:
# import sth
import numpy as np
import pandas as pd
import pickle
import sys
input_file = "Lab01-Data/lab1_Ex1_data.csv"
data_frame = pd.read_csv(input_file)
print(data_frame.describe())
output_dict = {}

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  389.000000  330.000000  418.000000  418.000000  417.000000
mean    209.500000    2.251928   30.240909    0.447368    0.392344   35.627188
std     120.810458    0.842357   14.179358    0.896760    0.981429   55.907576
min       1.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     105.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%     209.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%     313.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max     418.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [2]:
output_dict['Q1'] = dict(data_frame.max(numeric_only=True))
print(output_dict['Q1'])

{'PassengerId': 418.0, 'Pclass': 3.0, 'Age': 76.0, 'SibSp': 8.0, 'Parch': 9.0, 'Fare': 512.3292}

In [3]:
output_dict['Q2'] = dict(data_frame.mean(numeric_only=True))
print(output_dict['Q2'])

{'PassengerId': 209.5, 'Pclass': 2.2519280205655527, 'Age': 30.240909090909092, 'SibSp': 0.4473684210526316, 'Parch': 0.3923444976076555, 'Fare': 35.6271884892086}

In [4]:
print(data_frame['Sex'])
sex_type = []
for row in data_frame.itertuples():
    if getattr(row, 'Sex') not in sex_type:
        sex_type.append(getattr(row, 'Sex'))
print(sex_type)
output_dict['Q3'] = len(sex_type)

0        male
1      female
2        male
3        male
4      female
5        male
6      female
7        male
8      female
9        male
10       male
11       male
12     female
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
22     female
23       male
24     female
25       male
26     female
27       male
28       male
29       male
        ...
388      male
389      male
390      male
391    female
392      male
393      male
394      male
395    female
396      male
397    female
398      male
399      male
400    female
401      male
402    female
403      male
404      male
405      male
406      male
407      male
408    female
409    female
410    female
411    female
412    female
413      male
414    female
415      male
416      male
417      male
Name: Sex, Length: 418, dtype: object
['male', 'female']

In [5]:
print(output_dict)

{'Q1': {'PassengerId': 418.0, 'Pclass': 3.0, 'Age': 76.0, 'SibSp': 8.0, 'Parch': 9.0, 'Fare': 512.3292}, 'Q2': {'PassengerId': 209.5, 'Pclass': 2.2519280205655527, 'Age': 30.240909090909092, 'SibSp': 0.4473684210526316, 'Parch': 0.3923444976076555, 'Fare': 35.6271884892086}, 'Q3': 2}

In [6]:
output_dict['Q4'] = data_frame.isna().sum().sum() # sum twice to add different column together
print(output_dict['Q4'])

118

In [7]:
data_frame_copy = data_frame.copy()
print(data_frame.median(numeric_only=True)['Age'])
data_frame_copy.at[:, 'Age'] = data_frame.median(numeric_only=True)['Age']
output_dict['Q5'] = data_frame_copy
print(data_frame_copy)

27.0
     PassengerId  Pclass     Sex   Age  SibSp  Parch              Ticket  \
0              1     3.0    male  27.0      0      0              330911
1              2     3.0  female  27.0      1      0              363272
2              3     2.0    male  27.0      0      0              240276
3              4     3.0    male  27.0      0      0              315154
4              5     3.0  female  27.0      1      1             3101298
5              6     3.0    male  27.0      0      0                7538
6              7     3.0  female  27.0      0      0              330972
7              8     2.0    male  27.0      1      1              248738
8              9     NaN  female  27.0      0      0                2657
9             10     3.0    male  27.0      2      0           A/4 48871
10            11     3.0    male  27.0      0      0              349220
11            12     1.0    male  27.0      0      0                 694
12            13     1.0  female  27.0      1      0               21228
13            14     2.0    male  27.0      1      0               24065
14            15     1.0  female  27.0      1      0         W.E.P. 5734
15            16     2.0  female  27.0      1      0       SC/PARIS 2167
16            17     2.0    male  27.0      0      0              233734
17            18     NaN    male  27.0      0      0                2692
18            19     3.0  female  27.0      1      0    STON/O2. 3101270
19            20     3.0  female  27.0      0      0                2696
20            21     1.0    male  27.0      1      0            PC 17603
21            22     3.0    male  27.0      0      1             C 17368
22            23     1.0  female  27.0      0      0            PC 17598
23            24     1.0    male  27.0      0      1            PC 17597
24            25     1.0  female  27.0      1      3            PC 17608
25            26     3.0    male  27.0      1      0           A/5. 3337
26            27     NaN  female  27.0      0      1              113509
27            28     3.0    male  27.0      0      0                2698
28            29     1.0    male  27.0      0      0              113054
29            30     3.0    male  27.0      2      0                2662
..           ...     ...     ...   ...    ...    ...                 ...
388          389     3.0    male  27.0      0      0              364858
389          390     3.0    male  27.0      3      1              349909
390          391     1.0    male  27.0      0      0               12749
391          392     1.0  female  27.0      0      1            PC 17592
392          393     3.0    male  27.0      0      2           C.A. 2673
393          394     2.0    male  27.0      0      0          C.A. 30769
394          395     NaN    male  27.0      3      1              315153
395          396     1.0  female  27.0      1      0               13695
396          397     3.0    male  27.0      0      0              371109
397          398     1.0  female  27.0      1      1               13567
398          399     3.0    male  27.0      0      0              347065
399          400     3.0    male  27.0      0      0               21332
400          401     1.0  female  27.0      0      0               36928
401          402     2.0    male  27.0      1      0               28664
402          403     1.0  female  27.0      0      1              112378
403          404     1.0    male  27.0      0      0              113059
404          405     1.0    male  27.0      1      0               17765
405          406     2.0    male  27.0      0      0       SC/PARIS 2166
406          407     2.0    male  27.0      1      0               28666
407          408     1.0    male  27.0      1      1              113503
408          409     3.0  female  27.0      0      0              334915
409          410     3.0  female  27.0      1      1  SOTON/O.Q. 3101315
410          411     3.0  female  27.0      0      0              365237
411          412     1.0  female  27.0      1      0               19928
412          413     3.0  female  27.0      0      0              347086
413          414     3.0    male  27.0      0      0           A.5. 3236
414          415     1.0  female  27.0      0      0            PC 17758
415          416     NaN    male  27.0      0      0  SOTON/O.Q. 3101262
416          417     3.0    male  27.0      0      0              359309
417          418     3.0    male  27.0      1      1                2668

         Fare Embarked
0      7.8292        Q
1      7.0000        S
2      9.6875        Q
3      8.6625        S
4     12.2875        S
5      9.2250        S
6      7.6292        Q
7     29.0000        S
8      7.2292        C
9     24.1500        S
10     7.8958        S
11    26.0000        S
12    82.2667        S
13    26.0000        S
14    61.1750        S
15    27.7208        C
16    12.3500        Q
17     7.2250        C
18     7.9250        S
19     7.2250        C
20    59.4000        C
21     3.1708        S
22    31.6833        S
23    61.3792        C
24   262.3750        C
25    14.5000        S
26    61.9792        C
27     7.2250        C
28    30.5000        S
29    21.6792        C
..        ...      ...
388    7.7500        Q
389   21.0750        S
390   93.5000        S
391   39.4000        S
392   20.2500        S
393   10.5000        S
394   22.0250        S
395   60.0000        S
396    7.2500        Q
397   79.2000        C
398    7.7750        S
399    7.7333        Q
400  164.8667        S
401   21.0000        S
402   59.4000        C
403   47.1000        S
404   27.7208        C
405   13.8625        C
406   10.5000        S
407  211.5000        C
408    7.7208        Q
409   13.7750        S
410    7.7500        Q
411   90.0000        Q
412    7.7750        S
413    8.0500        S
414  108.9000        C
415    7.2500        S
416    8.0500        S
417   22.3583        C

[418 rows x 9 columns]

In [8]:
df_copy_Q6 = data_frame.copy()
df_copy_Q6 = df_copy_Q6.where(df_copy_Q6['Sex']=='male').dropna(how='all') # get all male data, how='all' means only drop when all data is NaN
df_copy_Q6 = df_copy_Q6.sort_values(by='PassengerId', ascending=True)
print(df_copy_Q6)
output_dict['Q6'] = df_copy_Q6

     PassengerId  Pclass   Sex   Age  SibSp  Parch              Ticket  \
0            1.0     3.0  male  34.5    0.0    0.0              330911
2            3.0     2.0  male  62.0    0.0    0.0              240276
3            4.0     3.0  male  27.0    0.0    0.0              315154
5            6.0     3.0  male  14.0    0.0    0.0                7538
7            8.0     2.0  male  26.0    1.0    1.0              248738
9           10.0     3.0  male  21.0    2.0    0.0           A/4 48871
10          11.0     3.0  male   NaN    0.0    0.0              349220
11          12.0     1.0  male  46.0    0.0    0.0                 694
13          14.0     2.0  male  63.0    1.0    0.0               24065
16          17.0     2.0  male  35.0    0.0    0.0              233734
17          18.0     NaN  male  21.0    0.0    0.0                2692
20          21.0     1.0  male  55.0    1.0    0.0            PC 17603
21          22.0     3.0  male   9.0    0.0    1.0             C 17368
23          24.0     1.0  male  21.0    0.0    1.0            PC 17597
25          26.0     3.0  male  50.0    1.0    0.0           A/5. 3337
27          28.0     3.0  male  22.5    0.0    0.0                2698
28          29.0     1.0  male  41.0    0.0    0.0              113054
29          30.0     3.0  male   NaN    2.0    0.0                2662
30          31.0     2.0  male  50.0    1.0    0.0          SC/AH 3085
31          32.0     2.0  male  24.0    2.0    0.0          C.A. 31029
34          35.0     1.0  male  30.0    1.0    0.0               13236
35          36.0     NaN  male  18.5    0.0    0.0                2682
38          39.0     NaN  male  25.0    0.0    0.0              345768
39          40.0     3.0  male   NaN    0.0    0.0                1601
40          41.0     3.0  male  39.0    0.0    1.0              349256
41          42.0     1.0  male   NaN    0.0    0.0              113778
42          43.0     3.0  male  41.0    0.0    0.0  SOTON/O.Q. 3101263
45          46.0     3.0  male  25.0    0.0    0.0   STON/O 2. 3101291
46          47.0     1.0  male  45.0    0.0    0.0            PC 17594
47          48.0     3.0  male   NaN    0.0    0.0              370374
..           ...     ...   ...   ...    ...    ...                 ...
370        371.0     2.0  male  21.0    1.0    0.0               28133
372        373.0     1.0  male   NaN    0.0    0.0              112058
373        374.0     2.0  male  44.0    0.0    0.0              248746
377        378.0     2.0  male  21.0    0.0    0.0               29107
378        379.0     NaN  male  55.0    0.0    0.0                 680
379        380.0     3.0  male   5.0    4.0    2.0              347077
380        381.0     3.0  male   NaN    0.0    0.0              366713
381        382.0     3.0  male  26.0    0.0    0.0              330910
384        385.0     2.0  male   NaN    0.0    0.0       SC/PARIS 2159
386        387.0     3.0  male  24.0    0.0    0.0              349911
387        388.0     2.0  male  57.0    0.0    0.0              244346
388        389.0     3.0  male  21.0    0.0    0.0              364858
389        390.0     3.0  male   6.0    3.0    1.0              349909
390        391.0     1.0  male  23.0    0.0    0.0               12749
392        393.0     3.0  male  13.0    0.0    2.0           C.A. 2673
393        394.0     2.0  male  47.0    0.0    0.0          C.A. 30769
394        395.0     NaN  male  29.0    3.0    1.0              315153
396        397.0     3.0  male  24.0    0.0    0.0              371109
398        399.0     3.0  male   NaN    0.0    0.0              347065
399        400.0     3.0  male  31.0    0.0    0.0               21332
401        402.0     2.0  male  38.0    1.0    0.0               28664
403        404.0     1.0  male  17.0    0.0    0.0              113059
404        405.0     1.0  male  43.0    1.0    0.0               17765
405        406.0     2.0  male  20.0    0.0    0.0       SC/PARIS 2166
406        407.0     2.0  male  23.0    1.0    0.0               28666
407        408.0     1.0  male  50.0    1.0    1.0              113503
413        414.0     3.0  male   NaN    0.0    0.0           A.5. 3236
415        416.0     NaN  male  38.5    0.0    0.0  SOTON/O.Q. 3101262
416        417.0     3.0  male   NaN    0.0    0.0              359309
417        418.0     3.0  male   NaN    1.0    1.0                2668

         Fare Embarked
0      7.8292        Q
2      9.6875        Q
3      8.6625        S
5      9.2250        S
7     29.0000        S
9     24.1500        S
10     7.8958        S
11    26.0000        S
13    26.0000        S
16    12.3500        Q
17     7.2250        C
20    59.4000        C
21     3.1708        S
23    61.3792        C
25    14.5000        S
27     7.2250        C
28    30.5000        S
29    21.6792        C
30    26.0000        S
31    31.5000        S
34    57.7500        C
35     7.2292        C
38     9.5000        S
39    56.4958        S
40    13.4167        C
41    26.5500        S
42     7.8500        S
45     7.9250        S
46    29.7000        C
47     7.7500        Q
..        ...      ...
370   11.5000        S
372    0.0000        S
373   13.0000        S
377   11.5000        S
378   50.0000        S
379   31.3875        S
380    7.7500        Q
381    7.8792        Q
384   12.8750        S
386    7.7750        S
387   13.0000        S
388    7.7500        Q
389   21.0750        S
390   93.5000        S
392   20.2500        S
393   10.5000        S
394   22.0250        S
396    7.2500        Q
398    7.7750        S
399    7.7333        Q
401   21.0000        S
403   47.1000        S
404   27.7208        C
405   13.8625        C
406   10.5000        S
407  211.5000        C
413    8.0500        S
415    7.2500        S
416    8.0500        S
417   22.3583        C

[266 rows x 9 columns]

In [9]:
df_copy_Q7 = data_frame.copy()
df_copy_Q7 = df_copy_Q7.where(df_copy_Q7['Sex']=='male').dropna(how='all') # get all male data
df_copy_Q7 = df_copy_Q7.where(df_copy_Q7['Age']>20).dropna(how='all') # get people whose age is larger that 20
df_copy_Q7 = df_copy_Q7.sort_values(by='PassengerId', ascending=True)
print(df_copy_Q7)
output_dict['Q7'] = df_copy_Q7

     PassengerId  Pclass   Sex   Age  SibSp  Parch              Ticket  \
0            1.0     3.0  male  34.5    0.0    0.0              330911
2            3.0     2.0  male  62.0    0.0    0.0              240276
3            4.0     3.0  male  27.0    0.0    0.0              315154
7            8.0     2.0  male  26.0    1.0    1.0              248738
9           10.0     3.0  male  21.0    2.0    0.0           A/4 48871
11          12.0     1.0  male  46.0    0.0    0.0                 694
13          14.0     2.0  male  63.0    1.0    0.0               24065
16          17.0     2.0  male  35.0    0.0    0.0              233734
17          18.0     NaN  male  21.0    0.0    0.0                2692
20          21.0     1.0  male  55.0    1.0    0.0            PC 17603
23          24.0     1.0  male  21.0    0.0    1.0            PC 17597
25          26.0     3.0  male  50.0    1.0    0.0           A/5. 3337
27          28.0     3.0  male  22.5    0.0    0.0                2698
28          29.0     1.0  male  41.0    0.0    0.0              113054
30          31.0     2.0  male  50.0    1.0    0.0          SC/AH 3085
31          32.0     2.0  male  24.0    2.0    0.0          C.A. 31029
34          35.0     1.0  male  30.0    1.0    0.0               13236
38          39.0     NaN  male  25.0    0.0    0.0              345768
40          41.0     3.0  male  39.0    0.0    1.0              349256
42          43.0     3.0  male  41.0    0.0    0.0  SOTON/O.Q. 3101263
45          46.0     3.0  male  25.0    0.0    0.0   STON/O 2. 3101291
46          47.0     1.0  male  45.0    0.0    0.0            PC 17594
50          51.0     1.0  male  24.0    1.0    0.0               13695
51          52.0     NaN  male  27.0    0.0    0.0       SC/PARIS 2168
56          57.0     3.0  male  35.0    0.0    0.0              349230
57          58.0     3.0  male  25.0    0.0    0.0              348122
61          62.0     2.0  male  32.0    0.0    0.0              237216
67          68.0     1.0  male  47.0    0.0    0.0              113796
68          69.0     1.0  male  31.0    0.0    0.0                2543
71          72.0     3.0  male  21.0    0.0    0.0              349211
..           ...     ...   ...   ...    ...    ...                 ...
335        336.0     1.0  male  30.0    0.0    0.0              110469
336        337.0     2.0  male  32.0    0.0    0.0              244360
337        338.0     3.0  male  39.0    0.0    2.0                2675
338        339.0     2.0  male  25.0    0.0    0.0          C.A. 31029
341        342.0     NaN  male  32.0    0.0    0.0              350403
346        347.0     2.0  male  26.0    0.0    0.0              237670
348        349.0     2.0  male  24.0    0.0    0.0              248726
351        352.0     2.0  male  25.0    0.0    0.0        F.C.C. 13540
353        354.0     2.0  male  49.0    1.0    2.0              220845
355        356.0     1.0  male  50.0    0.0    0.0              113044
363        364.0     3.0  male  27.0    0.0    0.0              315083
369        370.0     2.0  male  29.0    0.0    0.0       SC/PARIS 2147
370        371.0     2.0  male  21.0    1.0    0.0               28133
373        374.0     2.0  male  44.0    0.0    0.0              248746
377        378.0     2.0  male  21.0    0.0    0.0               29107
378        379.0     NaN  male  55.0    0.0    0.0                 680
381        382.0     3.0  male  26.0    0.0    0.0              330910
386        387.0     3.0  male  24.0    0.0    0.0              349911
387        388.0     2.0  male  57.0    0.0    0.0              244346
388        389.0     3.0  male  21.0    0.0    0.0              364858
390        391.0     1.0  male  23.0    0.0    0.0               12749
393        394.0     2.0  male  47.0    0.0    0.0          C.A. 30769
394        395.0     NaN  male  29.0    3.0    1.0              315153
396        397.0     3.0  male  24.0    0.0    0.0              371109
399        400.0     3.0  male  31.0    0.0    0.0               21332
401        402.0     2.0  male  38.0    1.0    0.0               28664
404        405.0     1.0  male  43.0    1.0    0.0               17765
406        407.0     2.0  male  23.0    1.0    0.0               28666
407        408.0     1.0  male  50.0    1.0    1.0              113503
415        416.0     NaN  male  38.5    0.0    0.0  SOTON/O.Q. 3101262

         Fare Embarked
0      7.8292        Q
2      9.6875        Q
3      8.6625        S
7     29.0000        S
9     24.1500        S
11    26.0000        S
13    26.0000        S
16    12.3500        Q
17     7.2250        C
20    59.4000        C
23    61.3792        C
25    14.5000        S
27     7.2250        C
28    30.5000        S
30    26.0000        S
31    31.5000        S
34    57.7500        C
38     9.5000        S
40    13.4167        C
42     7.8500        S
45     7.9250        S
46    29.7000        C
50    60.0000        S
51    15.0333        C
56     7.8958        S
57     7.6500        S
61    13.5000        S
67    42.4000        S
68    28.5375        C
71     7.8958        S
..        ...      ...
335   26.0000        S
336   13.0000        S
337    7.2292        C
338   31.5000        S
341    7.5792        S
346   13.0000        S
348   13.5000        S
351   10.5000        S
353   65.0000        S
355   26.0000        S
363    8.6625        S
369   13.8583        C
370   11.5000        S
373   13.0000        S
377   11.5000        S
378   50.0000        S
381    7.8792        Q
386    7.7750        S
387   13.0000        S
388    7.7500        Q
390   93.5000        S
393   10.5000        S
394   22.0250        S
396    7.2500        Q
399    7.7333        Q
401   21.0000        S
404   27.7208        C
406   10.5000        S
407  211.5000        C
415    7.2500        S

[166 rows x 9 columns]

In [10]:
df_copy_Q8 = data_frame.copy()
df_copy_Q8['NewSex'] = df_copy_Q8['Sex']
df_copy_Q8['NewSex'] = df_copy_Q8['NewSex'].map({'female':2, 'male':1})
df_copy_Q8 = df_copy_Q8.sort_values(by='PassengerId', ascending=True)
print(df_copy_Q8)

     PassengerId  Pclass     Sex   Age  SibSp  Parch              Ticket  \
0              1     3.0    male  34.5      0      0              330911
1              2     3.0  female  47.0      1      0              363272
2              3     2.0    male  62.0      0      0              240276
3              4     3.0    male  27.0      0      0              315154
4              5     3.0  female  22.0      1      1             3101298
5              6     3.0    male  14.0      0      0                7538
6              7     3.0  female  30.0      0      0              330972
7              8     2.0    male  26.0      1      1              248738
8              9     NaN  female  18.0      0      0                2657
9             10     3.0    male  21.0      2      0           A/4 48871
10            11     3.0    male   NaN      0      0              349220
11            12     1.0    male  46.0      0      0                 694
12            13     1.0  female  23.0      1      0               21228
13            14     2.0    male  63.0      1      0               24065
14            15     1.0  female  47.0      1      0         W.E.P. 5734
15            16     2.0  female  24.0      1      0       SC/PARIS 2167
16            17     2.0    male  35.0      0      0              233734
17            18     NaN    male  21.0      0      0                2692
18            19     3.0  female  27.0      1      0    STON/O2. 3101270
19            20     3.0  female  45.0      0      0                2696
20            21     1.0    male  55.0      1      0            PC 17603
21            22     3.0    male   9.0      0      1             C 17368
22            23     1.0  female   NaN      0      0            PC 17598
23            24     1.0    male  21.0      0      1            PC 17597
24            25     1.0  female  48.0      1      3            PC 17608
25            26     3.0    male  50.0      1      0           A/5. 3337
26            27     NaN  female  22.0      0      1              113509
27            28     3.0    male  22.5      0      0                2698
28            29     1.0    male  41.0      0      0              113054
29            30     3.0    male   NaN      2      0                2662
..           ...     ...     ...   ...    ...    ...                 ...
388          389     3.0    male  21.0      0      0              364858
389          390     3.0    male   6.0      3      1              349909
390          391     1.0    male  23.0      0      0               12749
391          392     1.0  female  51.0      0      1            PC 17592
392          393     3.0    male  13.0      0      2           C.A. 2673
393          394     2.0    male  47.0      0      0          C.A. 30769
394          395     NaN    male  29.0      3      1              315153
395          396     1.0  female  18.0      1      0               13695
396          397     3.0    male  24.0      0      0              371109
397          398     1.0  female  48.0      1      1               13567
398          399     3.0    male   NaN      0      0              347065
399          400     3.0    male  31.0      0      0               21332
400          401     1.0  female  30.0      0      0               36928
401          402     2.0    male  38.0      1      0               28664
402          403     1.0  female  22.0      0      1              112378
403          404     1.0    male  17.0      0      0              113059
404          405     1.0    male  43.0      1      0               17765
405          406     2.0    male  20.0      0      0       SC/PARIS 2166
406          407     2.0    male  23.0      1      0               28666
407          408     1.0    male  50.0      1      1              113503
408          409     3.0  female   NaN      0      0              334915
409          410     3.0  female   3.0      1      1  SOTON/O.Q. 3101315
410          411     3.0  female   NaN      0      0              365237
411          412     1.0  female  37.0      1      0               19928
412          413     3.0  female  28.0      0      0              347086
413          414     3.0    male   NaN      0      0           A.5. 3236
414          415     1.0  female  39.0      0      0            PC 17758
415          416     NaN    male  38.5      0      0  SOTON/O.Q. 3101262
416          417     3.0    male   NaN      0      0              359309
417          418     3.0    male   NaN      1      1                2668

         Fare Embarked  NewSex
0      7.8292        Q       1
1      7.0000        S       2
2      9.6875        Q       1
3      8.6625        S       1
4     12.2875        S       2
5      9.2250        S       1
6      7.6292        Q       2
7     29.0000        S       1
8      7.2292        C       2
9     24.1500        S       1
10     7.8958        S       1
11    26.0000        S       1
12    82.2667        S       2
13    26.0000        S       1
14    61.1750        S       2
15    27.7208        C       2
16    12.3500        Q       1
17     7.2250        C       1
18     7.9250        S       2
19     7.2250        C       2
20    59.4000        C       1
21     3.1708        S       1
22    31.6833        S       2
23    61.3792        C       1
24   262.3750        C       2
25    14.5000        S       1
26    61.9792        C       2
27     7.2250        C       1
28    30.5000        S       1
29    21.6792        C       1
..        ...      ...     ...
388    7.7500        Q       1
389   21.0750        S       1
390   93.5000        S       1
391   39.4000        S       2
392   20.2500        S       1
393   10.5000        S       1
394   22.0250        S       1
395   60.0000        S       2
396    7.2500        Q       1
397   79.2000        C       2
398    7.7750        S       1
399    7.7333        Q       1
400  164.8667        S       2
401   21.0000        S       1
402   59.4000        C       2
403   47.1000        S       1
404   27.7208        C       1
405   13.8625        C       1
406   10.5000        S       1
407  211.5000        C       1
408    7.7208        Q       2
409   13.7750        S       2
410    7.7500        Q       2
411   90.0000        Q       2
412    7.7750        S       2
413    8.0500        S       1
414  108.9000        C       2
415    7.2500        S       1
416    8.0500        S       1
417   22.3583        C       1

[418 rows x 10 columns]

In [11]:
df_copy_Q9 = data_frame.copy()
df_copy_Q9['nE1'] = df_copy_Q9['Embarked']
df_copy_Q9['nE2'] = df_copy_Q9['Embarked']
df_copy_Q9['nE3'] = df_copy_Q9['Embarked']
df_copy_Q9['nE1'] = df_copy_Q9['nE1'].map({'Q': 1, 'S':0, 'C':0})
df_copy_Q9['nE2'] = df_copy_Q9['nE2'].map({'Q': 0, 'S':1, 'C':0})
df_copy_Q9['nE3'] = df_copy_Q9['nE3'].map({'Q': 0, 'S':0, 'C':1})
df_copy_Q8 = df_copy_Q8.sort_values(by='PassengerId', ascending=True)
print(df_copy_Q9)
output_dict['Q9'] = df_copy_Q9

     PassengerId  Pclass     Sex   Age  SibSp  Parch              Ticket  \
0              1     3.0    male  34.5      0      0              330911
1              2     3.0  female  47.0      1      0              363272
2              3     2.0    male  62.0      0      0              240276
3              4     3.0    male  27.0      0      0              315154
4              5     3.0  female  22.0      1      1             3101298
5              6     3.0    male  14.0      0      0                7538
6              7     3.0  female  30.0      0      0              330972
7              8     2.0    male  26.0      1      1              248738
8              9     NaN  female  18.0      0      0                2657
9             10     3.0    male  21.0      2      0           A/4 48871
10            11     3.0    male   NaN      0      0              349220
11            12     1.0    male  46.0      0      0                 694
12            13     1.0  female  23.0      1      0               21228
13            14     2.0    male  63.0      1      0               24065
14            15     1.0  female  47.0      1      0         W.E.P. 5734
15            16     2.0  female  24.0      1      0       SC/PARIS 2167
16            17     2.0    male  35.0      0      0              233734
17            18     NaN    male  21.0      0      0                2692
18            19     3.0  female  27.0      1      0    STON/O2. 3101270
19            20     3.0  female  45.0      0      0                2696
20            21     1.0    male  55.0      1      0            PC 17603
21            22     3.0    male   9.0      0      1             C 17368
22            23     1.0  female   NaN      0      0            PC 17598
23            24     1.0    male  21.0      0      1            PC 17597
24            25     1.0  female  48.0      1      3            PC 17608
25            26     3.0    male  50.0      1      0           A/5. 3337
26            27     NaN  female  22.0      0      1              113509
27            28     3.0    male  22.5      0      0                2698
28            29     1.0    male  41.0      0      0              113054
29            30     3.0    male   NaN      2      0                2662
..           ...     ...     ...   ...    ...    ...                 ...
388          389     3.0    male  21.0      0      0              364858
389          390     3.0    male   6.0      3      1              349909
390          391     1.0    male  23.0      0      0               12749
391          392     1.0  female  51.0      0      1            PC 17592
392          393     3.0    male  13.0      0      2           C.A. 2673
393          394     2.0    male  47.0      0      0          C.A. 30769
394          395     NaN    male  29.0      3      1              315153
395          396     1.0  female  18.0      1      0               13695
396          397     3.0    male  24.0      0      0              371109
397          398     1.0  female  48.0      1      1               13567
398          399     3.0    male   NaN      0      0              347065
399          400     3.0    male  31.0      0      0               21332
400          401     1.0  female  30.0      0      0               36928
401          402     2.0    male  38.0      1      0               28664
402          403     1.0  female  22.0      0      1              112378
403          404     1.0    male  17.0      0      0              113059
404          405     1.0    male  43.0      1      0               17765
405          406     2.0    male  20.0      0      0       SC/PARIS 2166
406          407     2.0    male  23.0      1      0               28666
407          408     1.0    male  50.0      1      1              113503
408          409     3.0  female   NaN      0      0              334915
409          410     3.0  female   3.0      1      1  SOTON/O.Q. 3101315
410          411     3.0  female   NaN      0      0              365237
411          412     1.0  female  37.0      1      0               19928
412          413     3.0  female  28.0      0      0              347086
413          414     3.0    male   NaN      0      0           A.5. 3236
414          415     1.0  female  39.0      0      0            PC 17758
415          416     NaN    male  38.5      0      0  SOTON/O.Q. 3101262
416          417     3.0    male   NaN      0      0              359309
417          418     3.0    male   NaN      1      1                2668

         Fare Embarked  nE1  nE2  nE3
0      7.8292        Q    1    0    0
1      7.0000        S    0    1    0
2      9.6875        Q    1    0    0
3      8.6625        S    0    1    0
4     12.2875        S    0    1    0
5      9.2250        S    0    1    0
6      7.6292        Q    1    0    0
7     29.0000        S    0    1    0
8      7.2292        C    0    0    1
9     24.1500        S    0    1    0
10     7.8958        S    0    1    0
11    26.0000        S    0    1    0
12    82.2667        S    0    1    0
13    26.0000        S    0    1    0
14    61.1750        S    0    1    0
15    27.7208        C    0    0    1
16    12.3500        Q    1    0    0
17     7.2250        C    0    0    1
18     7.9250        S    0    1    0
19     7.2250        C    0    0    1
20    59.4000        C    0    0    1
21     3.1708        S    0    1    0
22    31.6833        S    0    1    0
23    61.3792        C    0    0    1
24   262.3750        C    0    0    1
25    14.5000        S    0    1    0
26    61.9792        C    0    0    1
27     7.2250        C    0    0    1
28    30.5000        S    0    1    0
29    21.6792        C    0    0    1
..        ...      ...  ...  ...  ...
388    7.7500        Q    1    0    0
389   21.0750        S    0    1    0
390   93.5000        S    0    1    0
391   39.4000        S    0    1    0
392   20.2500        S    0    1    0
393   10.5000        S    0    1    0
394   22.0250        S    0    1    0
395   60.0000        S    0    1    0
396    7.2500        Q    1    0    0
397   79.2000        C    0    0    1
398    7.7750        S    0    1    0
399    7.7333        Q    1    0    0
400  164.8667        S    0    1    0
401   21.0000        S    0    1    0
402   59.4000        C    0    0    1
403   47.1000        S    0    1    0
404   27.7208        C    0    0    1
405   13.8625        C    0    0    1
406   10.5000        S    0    1    0
407  211.5000        C    0    0    1
408    7.7208        Q    1    0    0
409   13.7750        S    0    1    0
410    7.7500        Q    1    0    0
411   90.0000        Q    1    0    0
412    7.7750        S    0    1    0
413    8.0500        S    0    1    0
414  108.9000        C    0    0    1
415    7.2500        S    0    1    0
416    8.0500        S    0    1    0
417   22.3583        C    0    0    1

[418 rows x 12 columns]

In [12]:
with open("Lab1_Ex1.pkl", 'wb') as myfile:
    pickle.dump(output_dict, myfile)

In [13]:
print(output_dict)

{'Q1': {'PassengerId': 418.0, 'Pclass': 3.0, 'Age': 76.0, 'SibSp': 8.0, 'Parch': 9.0, 'Fare': 512.3292}, 'Q2': {'PassengerId': 209.5, 'Pclass': 2.2519280205655527, 'Age': 30.240909090909092, 'SibSp': 0.4473684210526316, 'Parch': 0.3923444976076555, 'Fare': 35.6271884892086}, 'Q3': 2, 'Q4': 118, 'Q5':      PassengerId  Pclass     Sex   Age  SibSp  Parch              Ticket  \
0              1     3.0    male  27.0      0      0              330911
1              2     3.0  female  27.0      1      0              363272
2              3     2.0    male  27.0      0      0              240276
3              4     3.0    male  27.0      0      0              315154
4              5     3.0  female  27.0      1      1             3101298
5              6     3.0    male  27.0      0      0                7538
6              7     3.0  female  27.0      0      0              330972
7              8     2.0    male  27.0      1      1              248738
8              9     NaN  female  27.0      0      0                2657
9             10     3.0    male  27.0      2      0           A/4 48871
10            11     3.0    male  27.0      0      0              349220
11            12     1.0    male  27.0      0      0                 694
12            13     1.0  female  27.0      1      0               21228
13            14     2.0    male  27.0      1      0               24065
14            15     1.0  female  27.0      1      0         W.E.P. 5734
15            16     2.0  female  27.0      1      0       SC/PARIS 2167
16            17     2.0    male  27.0      0      0              233734
17            18     NaN    male  27.0      0      0                2692
18            19     3.0  female  27.0      1      0    STON/O2. 3101270
19            20     3.0  female  27.0      0      0                2696
20            21     1.0    male  27.0      1      0            PC 17603
21            22     3.0    male  27.0      0      1             C 17368
22            23     1.0  female  27.0      0      0            PC 17598
23            24     1.0    male  27.0      0      1            PC 17597
24            25     1.0  female  27.0      1      3            PC 17608
25            26     3.0    male  27.0      1      0           A/5. 3337
26            27     NaN  female  27.0      0      1              113509
27            28     3.0    male  27.0      0      0                2698
28            29     1.0    male  27.0      0      0              113054
29            30     3.0    male  27.0      2      0                2662
..           ...     ...     ...   ...    ...    ...                 ...
388          389     3.0    male  27.0      0      0              364858
389          390     3.0    male  27.0      3      1              349909
390          391     1.0    male  27.0      0      0               12749
391          392     1.0  female  27.0      0      1            PC 17592
392          393     3.0    male  27.0      0      2           C.A. 2673
393          394     2.0    male  27.0      0      0          C.A. 30769
394          395     NaN    male  27.0      3      1              315153
395          396     1.0  female  27.0      1      0               13695
396          397     3.0    male  27.0      0      0              371109
397          398     1.0  female  27.0      1      1               13567
398          399     3.0    male  27.0      0      0              347065
399          400     3.0    male  27.0      0      0               21332
400          401     1.0  female  27.0      0      0               36928
401          402     2.0    male  27.0      1      0               28664
402          403     1.0  female  27.0      0      1              112378
403          404     1.0    male  27.0      0      0              113059
404          405     1.0    male  27.0      1      0               17765
405          406     2.0    male  27.0      0      0       SC/PARIS 2166
406          407     2.0    male  27.0      1      0               28666
407          408     1.0    male  27.0      1      1              113503
408          409     3.0  female  27.0      0      0              334915
409          410     3.0  female  27.0      1      1  SOTON/O.Q. 3101315
410          411     3.0  female  27.0      0      0              365237
411          412     1.0  female  27.0      1      0               19928
412          413     3.0  female  27.0      0      0              347086
413          414     3.0    male  27.0      0      0           A.5. 3236
414          415     1.0  female  27.0      0      0            PC 17758
415          416     NaN    male  27.0      0      0  SOTON/O.Q. 3101262
416          417     3.0    male  27.0      0      0              359309
417          418     3.0    male  27.0      1      1                2668

         Fare Embarked
0      7.8292        Q
1      7.0000        S
2      9.6875        Q
3      8.6625        S
4     12.2875        S
5      9.2250        S
6      7.6292        Q
7     29.0000        S
8      7.2292        C
9     24.1500        S
10     7.8958        S
11    26.0000        S
12    82.2667        S
13    26.0000        S
14    61.1750        S
15    27.7208        C
16    12.3500        Q
17     7.2250        C
18     7.9250        S
19     7.2250        C
20    59.4000        C
21     3.1708        S
22    31.6833        S
23    61.3792        C
24   262.3750        C
25    14.5000        S
26    61.9792        C
27     7.2250        C
28    30.5000        S
29    21.6792        C
..        ...      ...
388    7.7500        Q
389   21.0750        S
390   93.5000        S
391   39.4000        S
392   20.2500        S
393   10.5000        S
394   22.0250        S
395   60.0000        S
396    7.2500        Q
397   79.2000        C
398    7.7750        S
399    7.7333        Q
400  164.8667        S
401   21.0000        S
402   59.4000        C
403   47.1000        S
404   27.7208        C
405   13.8625        C
406   10.5000        S
407  211.5000        C
408    7.7208        Q
409   13.7750        S
410    7.7500        Q
411   90.0000        Q
412    7.7750        S
413    8.0500        S
414  108.9000        C
415    7.2500        S
416    8.0500        S
417   22.3583        C

[418 rows x 9 columns], 'Q6':      PassengerId  Pclass   Sex   Age  SibSp  Parch              Ticket  \
0            1.0     3.0  male  34.5    0.0    0.0              330911
2            3.0     2.0  male  62.0    0.0    0.0              240276
3            4.0     3.0  male  27.0    0.0    0.0              315154
5            6.0     3.0  male  14.0    0.0    0.0                7538
7            8.0     2.0  male  26.0    1.0    1.0              248738
9           10.0     3.0  male  21.0    2.0    0.0           A/4 48871
10          11.0     3.0  male   NaN    0.0    0.0              349220
11          12.0     1.0  male  46.0    0.0    0.0                 694
13          14.0     2.0  male  63.0    1.0    0.0               24065
16          17.0     2.0  male  35.0    0.0    0.0              233734
17          18.0     NaN  male  21.0    0.0    0.0                2692
20          21.0     1.0  male  55.0    1.0    0.0            PC 17603
21          22.0     3.0  male   9.0    0.0    1.0             C 17368
23          24.0     1.0  male  21.0    0.0    1.0            PC 17597
25          26.0     3.0  male  50.0    1.0    0.0           A/5. 3337
27          28.0     3.0  male  22.5    0.0    0.0                2698
28          29.0     1.0  male  41.0    0.0    0.0              113054
29          30.0     3.0  male   NaN    2.0    0.0                2662
30          31.0     2.0  male  50.0    1.0    0.0          SC/AH 3085
31          32.0     2.0  male  24.0    2.0    0.0          C.A. 31029
34          35.0     1.0  male  30.0    1.0    0.0               13236
35          36.0     NaN  male  18.5    0.0    0.0                2682
38          39.0     NaN  male  25.0    0.0    0.0              345768
39          40.0     3.0  male   NaN    0.0    0.0                1601
40          41.0     3.0  male  39.0    0.0    1.0              349256
41          42.0     1.0  male   NaN    0.0    0.0              113778
42          43.0     3.0  male  41.0    0.0    0.0  SOTON/O.Q. 3101263
45          46.0     3.0  male  25.0    0.0    0.0   STON/O 2. 3101291
46          47.0     1.0  male  45.0    0.0    0.0            PC 17594
47          48.0     3.0  male   NaN    0.0    0.0              370374
..           ...     ...   ...   ...    ...    ...                 ...
370        371.0     2.0  male  21.0    1.0    0.0               28133
372        373.0     1.0  male   NaN    0.0    0.0              112058
373        374.0     2.0  male  44.0    0.0    0.0              248746
377        378.0     2.0  male  21.0    0.0    0.0               29107
378        379.0     NaN  male  55.0    0.0    0.0                 680
379        380.0     3.0  male   5.0    4.0    2.0              347077
380        381.0     3.0  male   NaN    0.0    0.0              366713
381        382.0     3.0  male  26.0    0.0    0.0              330910
384        385.0     2.0  male   NaN    0.0    0.0       SC/PARIS 2159
386        387.0     3.0  male  24.0    0.0    0.0              349911
387        388.0     2.0  male  57.0    0.0    0.0              244346
388        389.0     3.0  male  21.0    0.0    0.0              364858
389        390.0     3.0  male   6.0    3.0    1.0              349909
390        391.0     1.0  male  23.0    0.0    0.0               12749
392        393.0     3.0  male  13.0    0.0    2.0           C.A. 2673
393        394.0     2.0  male  47.0    0.0    0.0          C.A. 30769
394        395.0     NaN  male  29.0    3.0    1.0              315153
396        397.0     3.0  male  24.0    0.0    0.0              371109
398        399.0     3.0  male   NaN    0.0    0.0              347065
399        400.0     3.0  male  31.0    0.0    0.0               21332
401        402.0     2.0  male  38.0    1.0    0.0               28664
403        404.0     1.0  male  17.0    0.0    0.0              113059
404        405.0     1.0  male  43.0    1.0    0.0               17765
405        406.0     2.0  male  20.0    0.0    0.0       SC/PARIS 2166
406        407.0     2.0  male  23.0    1.0    0.0               28666
407        408.0     1.0  male  50.0    1.0    1.0              113503
413        414.0     3.0  male   NaN    0.0    0.0           A.5. 3236
415        416.0     NaN  male  38.5    0.0    0.0  SOTON/O.Q. 3101262
416        417.0     3.0  male   NaN    0.0    0.0              359309
417        418.0     3.0  male   NaN    1.0    1.0                2668

         Fare Embarked
0      7.8292        Q
2      9.6875        Q
3      8.6625        S
5      9.2250        S
7     29.0000        S
9     24.1500        S
10     7.8958        S
11    26.0000        S
13    26.0000        S
16    12.3500        Q
17     7.2250        C
20    59.4000        C
21     3.1708        S
23    61.3792        C
25    14.5000        S
27     7.2250        C
28    30.5000        S
29    21.6792        C
30    26.0000        S
31    31.5000        S
34    57.7500        C
35     7.2292        C
38     9.5000        S
39    56.4958        S
40    13.4167        C
41    26.5500        S
42     7.8500        S
45     7.9250        S
46    29.7000        C
47     7.7500        Q
..        ...      ...
370   11.5000        S
372    0.0000        S
373   13.0000        S
377   11.5000        S
378   50.0000        S
379   31.3875        S
380    7.7500        Q
381    7.8792        Q
384   12.8750        S
386    7.7750        S
387   13.0000        S
388    7.7500        Q
389   21.0750        S
390   93.5000        S
392   20.2500        S
393   10.5000        S
394   22.0250        S
396    7.2500        Q
398    7.7750        S
399    7.7333        Q
401   21.0000        S
403   47.1000        S
404   27.7208        C
405   13.8625        C
406   10.5000        S
407  211.5000        C
413    8.0500        S
415    7.2500        S
416    8.0500        S
417   22.3583        C

[266 rows x 9 columns], 'Q7':      PassengerId  Pclass   Sex   Age  SibSp  Parch              Ticket  \
0            1.0     3.0  male  34.5    0.0    0.0              330911
2            3.0     2.0  male  62.0    0.0    0.0              240276
3            4.0     3.0  male  27.0    0.0    0.0              315154
7            8.0     2.0  male  26.0    1.0    1.0              248738
9           10.0     3.0  male  21.0    2.0    0.0           A/4 48871
11          12.0     1.0  male  46.0    0.0    0.0                 694
13          14.0     2.0  male  63.0    1.0    0.0               24065
16          17.0     2.0  male  35.0    0.0    0.0              233734
17          18.0     NaN  male  21.0    0.0    0.0                2692
20          21.0     1.0  male  55.0    1.0    0.0            PC 17603
23          24.0     1.0  male  21.0    0.0    1.0            PC 17597
25          26.0     3.0  male  50.0    1.0    0.0           A/5. 3337
27          28.0     3.0  male  22.5    0.0    0.0                2698
28          29.0     1.0  male  41.0    0.0    0.0              113054
30          31.0     2.0  male  50.0    1.0    0.0          SC/AH 3085
31          32.0     2.0  male  24.0    2.0    0.0          C.A. 31029
34          35.0     1.0  male  30.0    1.0    0.0               13236
38          39.0     NaN  male  25.0    0.0    0.0              345768
40          41.0     3.0  male  39.0    0.0    1.0              349256
42          43.0     3.0  male  41.0    0.0    0.0  SOTON/O.Q. 3101263
45          46.0     3.0  male  25.0    0.0    0.0   STON/O 2. 3101291
46          47.0     1.0  male  45.0    0.0    0.0            PC 17594
50          51.0     1.0  male  24.0    1.0    0.0               13695
51          52.0     NaN  male  27.0    0.0    0.0       SC/PARIS 2168
56          57.0     3.0  male  35.0    0.0    0.0              349230
57          58.0     3.0  male  25.0    0.0    0.0              348122
61          62.0     2.0  male  32.0    0.0    0.0              237216
67          68.0     1.0  male  47.0    0.0    0.0              113796
68          69.0     1.0  male  31.0    0.0    0.0                2543
71          72.0     3.0  male  21.0    0.0    0.0              349211
..           ...     ...   ...   ...    ...    ...                 ...
335        336.0     1.0  male  30.0    0.0    0.0              110469
336        337.0     2.0  male  32.0    0.0    0.0              244360
337        338.0     3.0  male  39.0    0.0    2.0                2675
338        339.0     2.0  male  25.0    0.0    0.0          C.A. 31029
341        342.0     NaN  male  32.0    0.0    0.0              350403
346        347.0     2.0  male  26.0    0.0    0.0              237670
348        349.0     2.0  male  24.0    0.0    0.0              248726
351        352.0     2.0  male  25.0    0.0    0.0        F.C.C. 13540
353        354.0     2.0  male  49.0    1.0    2.0              220845
355        356.0     1.0  male  50.0    0.0    0.0              113044
363        364.0     3.0  male  27.0    0.0    0.0              315083
369        370.0     2.0  male  29.0    0.0    0.0       SC/PARIS 2147
370        371.0     2.0  male  21.0    1.0    0.0               28133
373        374.0     2.0  male  44.0    0.0    0.0              248746
377        378.0     2.0  male  21.0    0.0    0.0               29107
378        379.0     NaN  male  55.0    0.0    0.0                 680
381        382.0     3.0  male  26.0    0.0    0.0              330910
386        387.0     3.0  male  24.0    0.0    0.0              349911
387        388.0     2.0  male  57.0    0.0    0.0              244346
388        389.0     3.0  male  21.0    0.0    0.0              364858
390        391.0     1.0  male  23.0    0.0    0.0               12749
393        394.0     2.0  male  47.0    0.0    0.0          C.A. 30769
394        395.0     NaN  male  29.0    3.0    1.0              315153
396        397.0     3.0  male  24.0    0.0    0.0              371109
399        400.0     3.0  male  31.0    0.0    0.0               21332
401        402.0     2.0  male  38.0    1.0    0.0               28664
404        405.0     1.0  male  43.0    1.0    0.0               17765
406        407.0     2.0  male  23.0    1.0    0.0               28666
407        408.0     1.0  male  50.0    1.0    1.0              113503
415        416.0     NaN  male  38.5    0.0    0.0  SOTON/O.Q. 3101262

         Fare Embarked
0      7.8292        Q
2      9.6875        Q
3      8.6625        S
7     29.0000        S
9     24.1500        S
11    26.0000        S
13    26.0000        S
16    12.3500        Q
17     7.2250        C
20    59.4000        C
23    61.3792        C
25    14.5000        S
27     7.2250        C
28    30.5000        S
30    26.0000        S
31    31.5000        S
34    57.7500        C
38     9.5000        S
40    13.4167        C
42     7.8500        S
45     7.9250        S
46    29.7000        C
50    60.0000        S
51    15.0333        C
56     7.8958        S
57     7.6500        S
61    13.5000        S
67    42.4000        S
68    28.5375        C
71     7.8958        S
..        ...      ...
335   26.0000        S
336   13.0000        S
337    7.2292        C
338   31.5000        S
341    7.5792        S
346   13.0000        S
348   13.5000        S
351   10.5000        S
353   65.0000        S
355   26.0000        S
363    8.6625        S
369   13.8583        C
370   11.5000        S
373   13.0000        S
377   11.5000        S
378   50.0000        S
381    7.8792        Q
386    7.7750        S
387   13.0000        S
388    7.7500        Q
390   93.5000        S
393   10.5000        S
394   22.0250        S
396    7.2500        Q
399    7.7333        Q
401   21.0000        S
404   27.7208        C
406   10.5000        S
407  211.5000        C
415    7.2500        S

[166 rows x 9 columns], 'Q9':      PassengerId  Pclass     Sex   Age  SibSp  Parch              Ticket  \
0              1     3.0    male  34.5      0      0              330911
1              2     3.0  female  47.0      1      0              363272
2              3     2.0    male  62.0      0      0              240276
3              4     3.0    male  27.0      0      0              315154
4              5     3.0  female  22.0      1      1             3101298
5              6     3.0    male  14.0      0      0                7538
6              7     3.0  female  30.0      0      0              330972
7              8     2.0    male  26.0      1      1              248738
8              9     NaN  female  18.0      0      0                2657
9             10     3.0    male  21.0      2      0           A/4 48871
10            11     3.0    male   NaN      0      0              349220
11            12     1.0    male  46.0      0      0                 694
12            13     1.0  female  23.0      1      0               21228
13            14     2.0    male  63.0      1      0               24065
14            15     1.0  female  47.0      1      0         W.E.P. 5734
15            16     2.0  female  24.0      1      0       SC/PARIS 2167
16            17     2.0    male  35.0      0      0              233734
17            18     NaN    male  21.0      0      0                2692
18            19     3.0  female  27.0      1      0    STON/O2. 3101270
19            20     3.0  female  45.0      0      0                2696
20            21     1.0    male  55.0      1      0            PC 17603
21            22     3.0    male   9.0      0      1             C 17368
22            23     1.0  female   NaN      0      0            PC 17598
23            24     1.0    male  21.0      0      1            PC 17597
24            25     1.0  female  48.0      1      3            PC 17608
25            26     3.0    male  50.0      1      0           A/5. 3337